* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  border: 2px solid red;
  overflow: hidden;
}

.scroll-wrapper {
  height: 100vh;
  overflow-y: auto;
  border: 1px solid blue;
  width: 100%;
  padding: 0 20%;
}

#main {
  display: flex;
  justify-content: space-between;
}

.box {
  padding: 0 2rem;
  flex: 1 1 50%;
}

#footer {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 600px) {
  #footer,
  #main {
    flex-direction: column;
  }

  .scroll-wrapper {
    padding: 0 5%;
  }
}
